repos:
  - repo: https://github.com/jendrikseipp/vulture
    rev: v2.14
    hooks:
      - id: vulture
  - repo: local
    hooks:
      - id: pytest
        name: pytest
        entry: uv run pytest tests/
        language: system
        pass_filenames: false
